@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome!</h1>
	<p>
		Here I will attach my resume and portfolio for evaluation! <a href="https://learn.microsoft.com/aspnet/core"></a>
		<br />
		This web page is running through a docker container inside my proxmox home server! I have various other projects where I deployed inside my proxmox home server!
	</p>
</div>
